<footer class="site-footer">


  <div class="footer-left">
    <a href="/contact/">Contact</a>
  </div>

  <div class="footer-right">
    <a href="mailto:aamirdhanani@gmail.com" class="email-icon">✉️</a>
  </div>

</footer>
