<header class="site-header">
  <nav class="navbar">
    <a href="/" class="logo">Aamir<span>.</span></a>
    <ul class="nav-links">
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/journal/">Journal</a></li>
      <li><a href="/hobbies/">Hobbies</a></li>
      <li><a href="/travel/">Travel</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
