---
layout: /layout.njk
title: "Aamir Dhanani"
---
<script src="/assets/js/main.js" defer></script>

<section class="portfolio-hero">
  <h1>Projects</h1>
  <p class="tagline">Things I've built, explored, and shared.</p>
</section>

<div class="portfolio-lower-wrapper">
<section class="projects-list">
  {% for project in projects %}
    <article class="project-card timeline-animate">
      <img src="{{ project.image }}" alt="{{ project.title }}">

      <div class="project-content">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
      </div>
    </article>
  {% endfor %}
</section>
</div>