---
layout: layout.njk
title: "Journal"
---
<script src="/assets/js/main.js" defer></script>

<section class="portfolio-hero">
  <h1>Journal</h1>
  <p class="tagline">A collection of thoughts, quotes, and ideas.</p>
</section>

<div class="portfolio-lower-wrapper">
<div class="journal-list timeline-animate">
  {% for entry in journal.entries %}
  <div class="journal-card">
    <p class="journal-text">“{{ entry.text }}”</p>

    {% if entry.author %}
    <p class="journal-author">— {{ entry.author }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
</div>