---
layout: /layout.njk
title: Contact
---
<script src="/assets/js/main.js" defer></script>

<section class="portfolio-hero">
  <h1>Get in Touch</h1>
  <p class="tagline" >My socials are all linked below, but email is the most reliable way to reach me.</p>
</section>

<div class="portfolio-lower-wrapper">
<div class="contact-container">

  <div class="contact-grid">
    <a href="mailto:contact@aamirdhanani.com" class="contact-card">
      <div class="contact-card-text">
        <h2>Email</h2>
        <p>contact@aamirdhanani.com</p>
      </div>
      <i class="fas fa-envelope"></i>
    </a>

    <a href="https://github.com/aamirdhanani" class="contact-card" target="_blank" rel="noopener noreferrer">
      <div class="contact-card-text">
        <h2>GitHub</h2>
        <p>github.com/aamirdhanani</p>
      </div>
      <i class="fab fa-github"></i>
    </a>

    <a href="https://ca.linkedin.com/in/aamir-dhanani" class="contact-card" target="_blank" rel="noopener noreferrer">
      <div class="contact-card-text">
        <h2>LinkedIn</h2>
        <p>linkedin.com/in/aamirdhanani</p>
      </div>
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://www.strava.com/athletes/66377789" class="contact-card" target="_blank" rel="noopener noreferrer">
      <div class="contact-card-text">
        <h2>Strava</h2>
        <p>strava.com/athletes/66377789</p>
      </div>
      <i class="fab fa-strava"></i>
    </a>

    <a href="https://www.instagram.com/aamirdhanani/" class="contact-card" target="_blank" rel="noopener noreferrer">
      <div class="contact-card-text">
      <h2>Instagram</h2>
      <p>instagram.com/aamirdhanani</p>
      </div>
      <i class="fab fa-instagram"></i>
    </a>

  </div>

</div>
</div>
