---
layout: /layout.njk
title: "Aamir Dhanani"
---

<section class="hero">
  <h1>Hi, I’m Aamir.</h1>
  <p class="tagline">I like building, exploring, and capturing moments.</p>

  <div class="hero-links">
    <a href="/portfolio/" class="hero-button">Portfolio</a>
    <a href="/contact/" class="hero-button secondary">Contact</a>
  </div>
</section>

<div class="portfolio-lower-wrapper">
<section class="projects-list">
    <article class="project-card timeline-animate">
      <img src="/images/homepage/me.jpg" alt="Picture of me!">

      <div class="project-content">
        <h2>Don't be shy!</h2>
        <p>The goal of this site is to serve almost as a public journal. Ideally I keep this updated with everything that I have done and enjoy. If you see anything that you would like to chat about reach out! That's the whole point of the site.</p>
      </div>
    </article>
</section>
</div>
